
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Syne&display=swap');/*Syne*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&family=Work+Sans&display=swap');/*Syne800*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');/*Work sans*/


*{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body{
    margin: 30px 150px;
    background: #E5E5E5;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

h1{
    font-family: 'Syne', sans-serif;
   
    font-size: 22px;
    color: #B1663C;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;

}
span.h1{
    font-family: 'Work Sans', sans-serif;
    margin-top: -2px;

    font-size: 10px;
    letter-spacing: 0.1em;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
ul, li{
    padding-left: 20px;
    font-size: 17px;
    color: black;
}
a {
    text-decoration: none;
}
.login{
    font-weight: bolder;
}
li:hover {
	color: #B1663C;
}

h2{
    font-family: 'Syne', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 36px;
}
#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    margin-top: 39px;

    margin-bottom: -27px;
    display: none;
  }
  
  #error-msg-second-line {
    display: block;
  }
.formula{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
}
label#label-email {
    margin-right: 407px;
    margin-bottom: -10px;
}
input#email {
    width: 40%;
    height: 51px;
    margin-bottom: 15px;
}
input {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
   
}
input#password {
    width: 40%;
    height: 51px;
}
label#mot-de-passe {
    margin-right: 359px;
    margin-bottom: -10px;
}
input#login-form-submit{
    margin-top: 37px;
    background: #1D6154;
    border-radius: 60px;
    padding: 10px 23px;
    color: #FFFFFF;
    cursor: pointer;
}
p.mdp-oublie {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    margin-top: 20px;
    color: #3D3D3D;
}
footer{
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background: #FFFFFF;
}

p.mentiion-legales {
    font-weight: 300;
    font-size: 16px;
    color: black;
    margin-right: 180px;
    padding: 7px;
}
p.mentiion-legales:hover {
	color: #B1663C;
}